.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 7rem);
    grid-auto-rows: 14rem;
    gap: 3rem;

    .pagination {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0 1rem;

        height: 2rem;

        grid-column: 1 / -1;

        .pagination-controls {
            display: flex;

            width: 6rem;
            height: 100%;

            background-color: var(--color-accent-alt);
            border-radius: .25rem;

            .pagination-prev,
            .pagination-input,
            .pagination-next {
                height: 100%;
                aspect-ratio: 1 / 1;

                font-size: 1rem;
                font-weight: 500;

                border: none;
                background: unset;

                &.pagination-input {
                    text-align: center;

                    color: var(--color-primary);
                    background-color: var(--color-background);
                    border: 2px solid var(--color-primary);
                    border-radius: .25rem;

                    opacity: .9;
                    -moz-appearance: textfield;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }
        }

        .pagination-page-count {
            opacity: .8;
        }
    }
}
